* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-img img {
  object-fit: cover;
}

.card {
  cursor: pointer;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}